@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Northwind</h1>
    <p class="lead">Proveemos a nuestros clientes de productos alimenticios.</p>
    <hr class="my-4">
    <p>Desde 1970</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Proveedores" asp-action="Index" role="button">Nuestros proveedores</a>
    </p>
</div>
